<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="joya"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Joya">
        <activity android:name=".MainPage" />
        <activity android:name=".OTP_authentication" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity1" />
    </application>

</manifest>